
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f9;
    overflow-x: hidden;
}

.loader_wrapper{
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    min-height: 100vh;
    z-index: 999;
    background: rgba(255, 255, 255, 0.58);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_wrapper2{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 999;
    /* background: rgba(255, 255, 255, 0.99); */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.loader_wrapper3{
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    min-height: 100vh;
    z-index: 999;
    background: rgba(255, 255, 255, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-wrapper{
    background: #fff;
    width: 70%;
    max-width: 1200px;
    height: 88%;
    border-radius: 15px;
    z-index: 10;
}

.form-section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    max-width: 50%;
}

.form-section form{
    width: 70%;
}

.form-section form button{
    width: 90%;
    align-self: center;
    justify-self: center;
}

.signup-wrapper .image-section{
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-image: url('../../images/signup.jpg'); */
    background-size:cover;
    background-repeat:no-repeat;
    flex: 0 0 50%;
    max-width: 50%;
}

.signup-wrapper .image-section img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login-logo{
    display: none;
}

@media screen and (max-width:992px){
    .signup-wrapper{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    .main-container{
        align-items: flex-start !important;
        justify-content: flex-start;
    }
    .login-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 7%;
        transform: translate(-50%,0%);
    }
    
    .login-logo img{
        width: 80%;
    }
    .signup-wrapper{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .signup-wrapper .image-section{
       display: none !important;
    }

     .image-section img{
         display: none !important;
     }

    .form-section form{
        width: 87%;
    }

    .form-section{
        margin-top: 0px;
    }

    .signup-wrapper form{
        margin-top: 20px;
    }


   .form-section .welcome-txt{
       margin-top: -60px !important;
       margin-bottom: 55px !important;
   }
   .signup-wrapper .form-section{
    flex: 0 0 100%;
    max-width: 100%;
}

}