.sidebar{
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 270px;
    z-index: 100;
    top: 0;
    left: 0;
    transition: all .2s;
  background: #fff;
    /* background: linear-gradient(179.07deg, rgba(78, 72, 142, 0.9) 4.49%, rgba(134, 125, 232, 0.5) 23.5%, rgba(160, 152, 232, 0.53) 51.19%, rgba(116, 109, 213, 0.865255) 86.08%, #635AC8 99.2%); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.activeSidebar{
    width: 95px;
    transition: all .2s;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none !important;
}

.sidebar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-top: 13px;
    font-size: 21px;
    line-height: 38px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee;
}

.sidebar .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: -30px;
}

.profile .profile-name{
    display: flex;
}

.profile .profile-name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile .profile-name p{
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
}

.profile .email{
    margin-left: -10px;
}

.profile .email p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.sidebar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar-menu .sidebar-links{
    width: 100%;
}

.sidebar-links ul li{
    margin-top: 11px;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all .3s;
    padding: 4px 16px;
}

.sidebar-links ul li:hover{
    background: var(--purple);
    /* background: linear-gradient(270.97deg, #FFD90F 2.1%, rgba(255, 145, 15, 0.78) 62.12%, rgba(238, 112, 56, 0.96) 97.91%); */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #fff;
    transition: all .3s;
}

.sidebar-links ul li:hover > a span{
    color: #fff;
}

.sidebar-links ul li:hover > p{
    color: #fff;
}

.sidebar-links ul li p{
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold !important;
    margin-top: 8px;
    color: gray;
}

.sidebar-links ul li a {
    font-size: 15px;
    color: #263238;
    /* color: #555; */
    padding: 7px 0px;
}

.sidebar-links ul li span:last-child{
    margin-left: 15px;
    font-weight: 500;
}

.sidebar-links ul li span:first-child{
    font-size: 24px;
    color: #263238;
    /* color: #555; */
}

.sidebar-links ul li.active-sidebar-li > *{
    color: #fff;
}

.active-sidebar-li{
    background: var(--purple);
        /* background: linear-gradient(270.97deg, #FFD90F 2.1%, rgba(255, 145, 15, 0.78) 62.12%, rgba(238, 112, 56, 0.96) 97.91%); */
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        color: #fff !important;
}

.white{
    color: #fff !important;
}


.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAE8FF;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    width: 9rem;
    align-self: flex-end;
}

.logout span{
    color: #7366FF;
}

.logout span:first-child{
    margin-right: 7px;
}

.sidebar-links ul li .sidebar-txt{
    display: none;
}

.sidebar .sidebar-advisor-li{
    display: none;
}

@media screen and (max-width:768px) {
    .sidebar{
        left: -100%;
        transition: all .3s;
        top: 9%;
        padding-top: 1rem;
    }
    .activeSidebar{
        width: 270px;
        transition: all .3s;
        left: 0 !important;
    }

    .sidebar .sidebar-profile-li{
        display: none !important;
    }

    .sidebar .sidebar-advisor-li{
        display: inline-block;
    }

    .sidebar-links ul li .sidebar-txt{
        display: inline-block;
    }

    .sidebar-links ul li span svg{
        font-size: 1.4rem !important;
    }
}