.listing-table table {
  background: #fff;
  color: #555;
}

.table .status{
  width: 20px;
  background-color: #d1ecf1;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: .7rem;
  text-align: center;
}

.pending{
  width: 20px;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: .7rem;
  text-align: center;
  background-color: #f8d7da;
}

.listing-table .my-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.my-list-top .right button{
  padding: 11px 13px;
  border-radius: 8px !important;
}

.listing-table table p {
  color: #b3b3b3;
  font-weight: 300;
}

.listing-table .l-heading{
    padding-left: 1rem;
}

.listing-table .container{
    /* max-height: 620px; */
    overflow-y: auto;
}


.listing-table tbody{
    border-top: 2px solid #eee !important;
}

.listing-table table th,
td {
  font-size: 16px;
}

.listing-table tbody tr{
    cursor: pointer;
}

.listing-table tbody tr:hover{
    background-color: #f5f5f5;
    transition: all .2s;
}

.listing-table h1,
h2,
h3,
h4,
h5,
h6,
.listing-table .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.listing-table a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.listing-table {
  padding-top: 2rem;
  padding-left: 1.2rem;
}

.listing-table h2 {
  font-size: 20px;
}

.listing-table .custom-table {
  min-width: 900px;
}
.listing-table .custom-table thead tr,
.listing-table .custom-table thead th {
  border-top: none;
  border-bottom: none !important;
}
.listing-table .custom-table tbody th,
.listing-table .custom-table tbody td {
  color: #555;
  font-weight: 400;
}

/* Custom Checkbox */
.listing-table .control {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: transparent;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border: 2px solid #007bff;
}

.control input:checked ~ .control__indicator {
  border: 2px solid #007bff;
  background: #007bff;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #ccc;
}

.control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #007bff;
  opacity: 0.2;
  border: 2px solid #007bff;
}

.listing-table .custom-table th::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.listing-table .custom-table td::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

@media screen and (max-width:768px) {
    .listing-table{
        padding-left: 0;
        margin-bottom: 2rem;
    }
    .listing-table .my-list-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    
    .my-list-top .right button{
      padding: 12px 20px;
      align-self: flex-start;
      justify-self: flex-start;
      margin-bottom: 10px;
      border-radius: 8px !important;
    }
}
